.container {
  background-color: blueviolet;
  color: rgb(131, 240, 41);
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 10px solid black;
  border-block-color: gray;
  height: 200px;
  width: '100%';
  flex: 1;
  justify-content: space-around;
}
.flex-container {
  background-color: blueviolet;
  color: rgb(131, 240, 41);
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 10px solid black;
  border-block-color: gray;

  height: 120;
  width: '100%';
}
.dice {
}
.inner {
}
.outCome {
  padding-right: 0%;
}
.multMod {
}
.spacer {
  width: 25%;
}
.button {
  height: 75%;
  margin-top: 10px;
  border-radius: 15%;
  font-weight: bolder;
  width: 20%;
  background-color: rgb(131, 240, 41);
}
.roll {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root {
  background-color: black;
}
.counter {
  color: white;
}
